:root {
    --background-color-light: rgb(228, 228, 255);
    --text-color-light: black;
    --background-color-dark: black;
    --text-color-dark: rgb(228, 228, 255);
}
  
html, body, * {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color;
    font-family: sans-serif;
}

.App.light {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

.App.dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);

}

.Homepage {
    font: 3em sans-serif;
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
    color: var(--text-color);

}

html {
    scroll-behavior: smooth;    
}

#resume-block {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--text-color);
    border: 10px solid var(--text-color);
    border-radius: 20px;
}

section {
    padding-top: 150px;
}

.skill-set{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.skill-logo {
    height: 100px;
    width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill-logo:hover {
    width: 100px;
    height: 100px;
    animation: rotation 2s infinite linear;
}

.paragraph {
    font: 0.5em sans-serif;
    padding-left: 5px;
    padding-top: 2px;
    border: 3px solid var(--text-color);
    border-radius: 10px;
}

#link {
    text-decoration: none;
}