.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--bg-color); 
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    opacity: 0.95;
}

.logos {
    display: flex;
    gap: 60px;
    margin-left: 50px;
    justify-self: start;
}

.logo {
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.nav-center {
    justify-self: center;
}

.pages {
    display: flex;
    gap: 35px;
    justify-self: end;
}

.nav-item1 {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    background-color: transparent;
}

.nav-item1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--text-color);
    transition: width 0.3s;
}

.nav-item1:hover::after {
    width: 100%;
}

.nav-item2 {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}